<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1130334330955777</string>
				<string>com.googleusercontent.apps.469167745457-hht7qrsde74salecjs41q3r8v9pbeih8</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1130334330955777</string>
	<key>FacebookClientToken</key>
	<string>329654dc5bc1085ffddf6c7f63e68935</string>
	<key>FacebookDisplayName</key>
	<string>GoodFoodG</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>GIDClientID</key>
	<string>469167745457-hht7qrsde74salecjs41q3r8v9pbeih8.apps.googleusercontent.com</string>
</dict>
</plist>
