<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>1130334330955777</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1130334330955777</string>
	<key>FacebookClientToken</key>
	<string>329654dc5bc1085ffddf6c7f63e68935</string>
	<key>FacebookDisplayName</key>
	<string>GoodFoodG</string>

    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
    </array>
</dict>
</plist>
